@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$typography-font-family : "Roboto Condensed",
"typer",
sans-serif !default;

$primary : #1d1d1d;
$secondary : #bcc4c4;
$accent : #753b80;
$dark : #1d1d1d;
$dark-page : #121212;
$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

$body-font-size : 1rem !default;