@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$typography-font-family : "Roboto Condensed",
"typer",
sans-serif !default;

$primary : #2dd6c1;
$secondary : rgb(55, 156, 151);
$accent : #9C27B0;

$dark : #1d1d1d;
$dark-page : #121212;

$positive : #0090f0;
$negative : #cc357e;
$info : #31CCEC;
$warning : #F2C037;

$body-font-size : 1rem !default;